<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BrBaApplication"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrBaCompose">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="io.github.shinhyo.brba.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.github.shinhyo.brba.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>